# Environment
STAGE=dev

# AWS Credentials
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here

# JWT / API Security
JWT_SECRET=a-string-secret-at-least-256-bits-long
API_KEY=your_api_key_here

